<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="ProperName">Alphabetical</option>
          <option value="Distance">Closest</option>
          <option value="-Distance">Furthest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="stars">
        <li ng-repeat="star in $ctrl.stars | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="#/stars/{{star.id}}" class="thumb">
            <img ng-src="{{star.imageUrl}}" alt="{{star.name}}"></img>
          </a>
          <!-- <a href="#/stars/{{star.id}}">{{star.name}}</a> -->
          <p>{{star.ProperName}}</p>
          <p>{{star.Distance}}</p>
        </li>
      </ul>

      <pre>{{ $ctrl.stars | filter:$ctrl.query | orderBy:$ctrl.orderProp | json }}</pre>

    </div>
  </div>
</div>
