<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query"/>
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="ProperName">Alphabetical</option>
          <option value="Distance">Closest</option>
          <option value="-Distance">Furthest</option>
          <option value="Mag">Brightest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="stars">
        <li ng-repeat="star in $ctrl.stars | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail star-row">
          <a href="#!/stars/{{star.id}}" class="thumb">
            <img ng-src="{{star.imgUrl}}" alt="{{star.name}}" />
          </a>
          <p>{{star.ProperName}}</p>
          <p>Apparent Magnitude: {{ star.Mag }}</p>
          <p>
            <span ng-show="star.lyUnit">Distance: {{ star.Distance_ly }}
              <a ng-click="toggleDistanceUnit()">light years</a>
            </span>
            <span ng-show="!star.lyUnit">Distance: {{ star.Distance }}
              <a ng-click="toggleDistanceUnit()">parsecs</a>
            </span>
          </p>
        </li>
      </ul>

      <!-- Fun line that displays json with the pre tag, which means preformatted.  -->
      <!-- <pre>{{ $ctrl.stars | filter:$ctrl.query | orderBy:$ctrl.orderProp | json }}</pre> -->

    </div>
  </div>
</div>
