<!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute, HtmlUnknownAttribute -->
<link rel="stylesheet" href="star-detail/star-detail.style.css"/>



<div class="container">
  <a ng-show="$ctrl.activeList=='tenStars'" href="#!/stars">
    <button class="btn btn-sm btn-default">
      <i class="fa fa-arrow-circle-left "></i>
      <span>Ten Misc Stars</span>
    </button>
  </a>
  <a ng-show="$ctrl.activeList=='tngStars'"href="#!/stars">
    <button class="btn btn-sm btn-default">
      <i class="fa fa-arrow-circle-left "></i>
      <span>Tng Stars</span>
    </button>
  </a>

  <h1>{{ $ctrl.star.ProperName}}</h1>
  <div class="row">
    <div ng-if="$ctrl.star.imgUrl!==''" class ="col-md-5">
      <img ng-src="{{$ctrl.star.imgUrl}}" alt="{{$ctrl.star.name}}" />
    </div>
    <div class="col-md-7">
      <div class="info-panel">
        <p>Apparent Magnitude: {{ $ctrl.star.Mag }}</p>
        <p>
          <span ng-show="$ctrl.star.lyUnit">Distance: {{ $ctrl.star.Distance_ly }}
            <a ng-click="toggleDistanceUnit()">light years</a>
          </span>
          <span ng-show="!$ctrl.star.lyUnit">Distance: {{ $ctrl.star.Distance }}
            <a ng-click="toggleDistanceUnit()">parsecs</a>
          </span>
        </p>
        <!--<p>Episodes: {{ $ctrl.star.Episodes }}</p>-->
      </div>
      <div class="data-box">
        <button class="btn btn-sm btn-default" ng-click="toggleRawData()">
          <i class="fa fa-eye" ng-show="!rawDataShow"></i>
          <i class="fa fa-eye-slash" ng-show="rawDataShow"></i>
          Raw Data
        </button>
        <pre class="data-pre" ng-show="rawDataShow">{{ $ctrl.star | json }}</pre>
      </div>
    </div>
  </div>
</div>
